* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: rgb(210, 213, 211);
    margin: 10px;
}

header {
    background: rgb(50, 190, 116);
    color: rgb(244, 247, 245);
    font-weight: bold;
    height: 100px;
    line-height: 100px;
    text-align: center;
    
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: 300;
    padding: 20px;
    text-align: center;
}

h3{
    font-weight: bold;
}

img {
    margin: 20px;
    padding: 10px;
}
main{
   background: rgb(248, 248, 248); 
   color: rgb(72, 75, 73);
   margin: 20px;
}

.bodyContent {
    margin: 30px;
}

.list {
    display: inline-block;

}

ul, ol {
    margin: 20px; 
    width: 400px;;   
}

ul{
    list-style-type: disc;
}

ol{
    list-style-type: decimal;
}

li{
    margin-left: 0px;
    padding: 20px;
}


footer{
    background: rgb(115, 161, 137);
    color: rgb(247, 240, 240);
}